/* import page's component */
@import url('./components/navigation.css');
@import url('./components/footer.css');

main.container {
  max-width: 100%;
  width: calc(100% - (2 * var(--gutter)) - 2 * var(--col-width));
  margin: 0 auto;
}

body {
  position: relative;
  height: 100vh;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.site-path {
  font-weight: var(--fw-semi-bold);
  font-size: 1.5rem;
  color: var(--clr-light-gray);
  margin-bottom: 1rem;
}

.profile-header {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #898888;
  margin-bottom: 3rem;
}

.profile-header .edit-btn {
  margin-left: auto;
  margin-right: 5rem;
  font-size: 32px;
  font-weight: bold;
  display: block;
  background-color: #D9D9D9;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.profile-header span {
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.profile-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc((100% - 2 * 300px) / 2);
}

.profile-info .info-group {
  width: 200px;
  margin-bottom: 8rem;
}

.profile-info .info-group p:first-child {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-info .info-group p:nth-of-type(2) {
  font-size: 2rem;
  color: #4D4C4C;
}

.profile-like-btn {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  padding: 5px 15px;
  border: none;
  outline: none;
  text-transform: capitalize;
  background: #D9D9D9;
  border-radius: 5px;
}