header {
  border-bottom: 3px solid #696969;
  margin-bottom: 2rem;
}

.hide {
  display: none !important;
}

.navigation .navigation__logo {
  height: 80%;
  width: 14rem;
  object-fit: contain;
  object-position: center;
  aspect-ratio: 16 / 9;
}

.search-group {
  position: relative;
}

.search-group__search-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-group__search-icon i {
  font-size: 25px;
}

.search-group__search-input {
  width: 100%;
  font-size: var(--fs-24);
  padding: .75rem 1.5rem .75rem 2.5rem;
  position: relative;
  padding-left: 4.5rem;
  border: var(--border-dark-gray);
  border-radius: 5px;
  outline: none;
}

.navigation__nav-link-group {
  height: 100%;
  list-style: none;
}

.navigation__nav-link-group .nav-link-group__link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--clr-black);
  font-weight: var(--fw-medium);
  text-transform: capitalize;
}

.navigation .user-profile-btn {
  font-size: 3rem;
  position: relative;
  cursor: pointer;
}

.navigation .user-profile-btn .user-profile-dropdown {
  padding: 15px 10px;
  width: 250px;
  position: absolute;
  top: calc(100% + 4rem);
  right: -0.5rem;
  font-size: 2rem;
  background-color: #EEEEEE;
  border-radius: 5px;
  color: #4F4F4F;
  scale: 0;
  transition: all .25s ease-out;
  transform-origin: 70% 0;
}

.user-profile-btn .user-profile-dropdown::before {
  content: '';
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 4rem;
  background: transparent;
}

.user-profile-btn .user-profile-dropdown li {
  border-bottom: 2px solid #D9D9D9;
  padding-bottom: 3px;
  display: flex;
}

.user-profile-btn .user-profile-dropdown li a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.navigation .user-profile-btn:hover .user-profile-dropdown {
  scale: 1;
}

.user-profile-btn .user-profile-dropdown li:not(:last-child) {
  margin-bottom: 3rem;
}

.control-group > * {
  display: inline-block;
  width: calc(1220px / 12);
  display: flex;
  justify-content: center;
}

.control-group > *:not(:last-child) {
  margin-right: 2rem;
}

.control-group .show-items-btn i,
.control-group .show-notification-btn i {
  font-size: 40px;
}

.control-group .show-items-btn {
  position: relative;
  cursor: pointer;
}

.control-group .show-items-btn__item-num {
  position: absolute;
  top: 25%;
  left: 47.5%;
  transform: translate(-25%, -50%);
  color: var(--clr-blue);
  border-radius: 50%;
  border: 2px solid var(--clr-blue);
  font-weight: var(--fw-bold);
  display: inline-block;
  font-size: 1.5rem;
  padding: .25rem .5rem;
}

.control-group .btn {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: var(--fw-medium);
  cursor: pointer;
}

.control-group .login-btn {
  color: var(--clr-black);
  border: var(--border);
}

.control-group .sign-up-btn {
  background-color: var(--clr-neutral-gray);
  color: var(--clr-white);
}

.control-group .show-notification-btn {
  position: relative;
  cursor: pointer;
}

.control-group .show-notification-btn__dot {
  position: absolute;
  top: .5rem;
  left: 50%;
  width: 1.4rem;
  height: 1.4rem;
  background: var(--clr-blue);
  border-radius: var(--border-circle);
}